<div class="container my-5">
  <div class="row justify-content-between">
    <h2 class= "font-weight-bold">Productos</h2>

    <span class="d-flex justify-content-end">
      <%= link_to 'Nuevo Producto', new_product_path, class:"btn btn-primary" %>
    </span>

  </div>
  <div class="row my-5">
      <table class="table">
        <tbody>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th></th>
          </tr>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= categorias = product.categories.map{|p| p.name}.join(",") %></td>
            <td>
              <%= link_to  "Editar", edit_product_path(product) %>
              <%= link_to  "Delete", product, method: :delete, data:{confirm: "Quiere eliminar el producto?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
